{% extends 'FestiViteBundle:Default:navfoot.html.twig' %}
{% block avnt %}
{{ dump(request) }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FestiVite - Inscription/Connexion</title>

    <link href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="css/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <link href="css/festivite.css" rel="stylesheet">
    <link href="css/festiviteform.css" rel="stylesheet">
    <style rel="stylesheet" text="text/css">
      .chevronCurrent::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: #051C2C;
        -webkit-transform: skew(36deg, 0deg);
        -moz-transform: skew(36deg, 0deg);
        -ms-transform: skew(36deg, 0deg);
        -o-transform: skew(36deg, 0deg);
        transform: skew(36deg, 0deg);
      }
      .chevronCurrent::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50%;
        width: 100%;
        background: #051C2C;
        -webkit-transform: skew(-36deg, 0deg);
        -moz-transform: skew(-36deg, 0deg);
        -ms-transform: skew(-36deg, 0deg);
        -o-transform: skew(-36deg, 0deg);
        transform: skew(-36deg, 0deg);
      }​
    </style>

  </head>

  <body>
    <div id="wrap">
    <!-- Banniere -->
    <div id="cpabo">

    </div>
{% endblock %}
{% block apr %}
    <!-- Debut du corps -->
      <div id="main">
        <div class="hidden-xs"id="imagecreersoiree"></div>
        <div  id="#myEtape" class="container">
            <!--Chevrons etape-->
        <div id="etapecreersoiree">
            <ul class="nav navbar-nav">
              <li><div id="chevron1" class="chevron chevronCurrent" >
                <p class="numetape">
                  Etape 1
                </p>
              </div></li>
              <li><div id="chevron2" class="chevron hidden-xs" >
                <p class="numetape">
                  Etape 2
                </p>
              </div></li>
              <li><div id="chevron3" class="chevron hidden-xs" >
                <p class="numetape">
                  Etape 3
                </p>
              </div></li>
            </ul>
        </div>
            <!--FIN Chevrons etape-->
        <!--Deubut formulaire-->
            {{ form_start(form, {'attr': {'action': '/ajoutprestataire', 'class': 'row', 'method': 'form'}}) }}

                <div>
                    <div class="row formule">
                        <!--Choix du titre soiree -->
                        <div id="champtitre" class="row col-xs-8 col-xs-offset-2">
                            <div></div>
                            {{ form_widget(form.nom, {'attr': {'placeholder': 'Titre Fête'}}) }}
                            <div></div>
                        </div>

                        <div class="etapeform row col-xs-8 col-xs-offset-2">
                            <div class="col-xs-12"></div>
                            <p class="col-xs-12">Ville</p>
                            <div class="col-xs-12"></div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            {{ form_widget(form.adresse, {'attr': {'placeholder': 'Ville'}}) }}
                        </div>

                        <div class="etapeform row col-xs-8 col-xs-offset-2">
                            <div class="col-xs-12"></div>
                            <p class="col-xs-12">Date & Heure</p>
                            <div class="col-xs-12"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-2 col-xs-12 paddingless">
                                <!--emplacement pour la date-->
                                Date :
                                {{ form_widget(form.dateSoiree.date.day) }}
                            </div>
                            <div class="col-sm-2 col-xs-12 paddingless">
                                <!--emplacement pour la date-->
                                {{ form_widget(form.dateSoiree.date.month) }}
                            </div>
                            <div class="col-sm-2 col-xs-12 paddingless">
                                <!--emplacement pour la date-->
                                {{ form_widget(form.dateSoiree.date.year) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-offset-5 col-sm-1 col-xs-12 paddingless">
                                <!--emplacement pour la date-->
                                Heure :
                                {{ form_widget(form.dateSoiree.time.hour) }}:
                            </div>
                            <div class="col-sm-1 col-xs-12 paddingless">
                                <!--emplacement pour la date-->
                                {{ form_widget(form.dateSoiree.time.minute) }}
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
<<<<<<< Updated upstream
                  <input type="text" value="{{idOffre}}">
                  {{ form_widget(form.Suivant,{'attr': {'class': 'formbtn'}, 'label':'Suivant >'})}}

=======
                  {{ form_widget(form.Suivant, {'attr': {'class': 'formbtn'}})}}
                  <span class="glyphicon glyphicon-chevron-right"></span>
>>>>>>> Stashed changes
                </div>
                <input type="text" value="{{idOffre}}" hidden>
            {{ form_end(form) }}

        </div>
        </div>
        <div id="push">

        </div>
{% endblock %}
{% block script %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script>window.jQuery || document.write('<script src="css/bootstrap-3.3.7/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="css/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="css/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="css/js/creersoiree.js"></script>
        <script src="css/js/navbar.js"></script>
  </body>
</html>
{% endblock %}
