{% extends 'FestiViteBundle:Default:navfoot.html.twig' %}
{% block avnt %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FestiVite</title>

    <link href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="css/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="css/festivite.css" rel="stylesheet">
    <link href="css/festiviteform.css" rel="stylesheet">
    <style rel="stylesheet" text="text/css">
      .chevronCurrent::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        background: #051C2C;
        -webkit-transform: skew(36deg, 0deg);
        -moz-transform: skew(36deg, 0deg);
        -ms-transform: skew(36deg, 0deg);
        -o-transform: skew(36deg, 0deg);
        transform: skew(36deg, 0deg);
      }
      .chevronCurrent::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50%;
        width: 100%;
        background: #051C2C;
        -webkit-transform: skew(-36deg, 0deg);
        -moz-transform: skew(-36deg, 0deg);
        -ms-transform: skew(-36deg, 0deg);
        -o-transform: skew(-36deg, 0deg);
        transform: skew(-36deg, 0deg);
      }​
    </style>
  </head>

  <body>
    <div id="wrap">
        <div id="cpabo"></div>
{% endblock %}
{% block apr %}
      <!-- Debut du corps -->
      <div class="container" id="main">

        <div class="row">
          <h1 class="titre1">Finaliser</h1>
          <!--Chevrons etape-->
          <div id="etapecreersoiree">
              <ul class="nav navbar-nav">
                <li><div id="chevron1" class="chevron hidden-xs" >
                  <p class="numetape">
                    Etape 1
                  </p>
                </div></li>
                <li><div id="chevron2" class="chevron hidden-xs" >
                  <p class="numetape">
                    Etape 2
                  </p>
                </div></li>
                <li><div id="chevron3" class="chevron chevronCurrent" >
                  <p class="numetape">
                    Etape 3
                  </p>
                </div></li>
              </ul>
          </div>
          <!--FIN Chevrons etape-->
        </div>

        <!--block resultat-->
        {% if panier is defined %}
          <p> Nom : {{nom}}</p>
          <p> Ville : {{adresse}}</p>
          <p> Date : {{dateTime}}</p>
          <p> Prix : {{prix}}</p>
          {% for key,value in panier %}
            <div class="blockpresta">
                <h3><a href="#">{{ value[0].getType() }}</a></h3>
                <img class="imagepresta" src="css/image/FestiVite4.png" alt="imagepresta"/>
                <p> <!--nombre de caractere affiché limité-->
                  {{ value[0].getDescription() }}
                </p>
                <p class="prix">{{ value[0].getPrix() }} €</p>
            </div>
          {% endfor %}
          {% endif %}
            <div class="row">
                <form action="/creersoireeclassique" method="post" class="col-xs-6">
                  <input type="text" name="nom" value="{{nom}}" hidden />
                  <input type="text" name="adresse" value="{{adresse}}" hidden />
                  <input type="text" name="dateTime" value="{{dateTime}}" hidden />
                  <input type="text" name="id" value="{% for key,value in panier %}{% if key == 0 %}{{value[0].getIdOffre()}}{% endif %}{%if key > 0 %}|{{value[0].getIdOffre()}}{% endif %}{% endfor %}" hidden />
                  <button id="etapePrecedente" type="submit" class="formbtn" href="">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    Precedent
                  </button>
                </form>
                <form action="/finclassique" method="post" class="col-xs-6">
                  <input type="text" name="nom" value="{{nom}}" hidden />
                  <input type="text" name="prix" value="{{prix}}" hidden />
                  <input type="text" name="adresse" value="{{adresse}}" hidden />
                  <input type="text" name="dateTime" value="{{dateTime}}" hidden />
                  <input type="text" name="id" value="{% for key,value in panier %}{% if key == 0 %}{{value[0].getIdOffre()}}{% endif %}{%if key > 0 %}|{{value[0].getIdOffre()}}{% endif %}{% endfor %}" hidden />
                  <button id="Finaliser" type="submit" class="formbtn" href="">
                      Payer
                      <span class="glyphicon glyphicon-credit-card"></span>
                    </button>
                </form>
            </div>
        </div><!--/Corps-->
        <div id="push"></div>
    </div>

{% endblock %}



{% block script %}
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="css/bootstrap-3.3.7/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="css/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="css/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="css/js/creersoiree.js"></script>
    <script src="css/js/navbar.js"></script>
  </body>
</html>
{% endblock %}
