<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FestiVite - Inscription/Connexion</title>

    <link href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="css/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>

    <link href="css/festivite.css" rel="stylesheet">
    <link href="css/festiviteform.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
    <!-- Banniere -->
      <div id="banner">
          <a class="navbar-brand" href="#"><img src="css/image/logo/logo150.png" alt="FestiVite" /></a>
      </div>

    <!-- Menu de navigation  -->
      <nav class="navbar navbar-default navbar-static-top" role="navigation" id="topnavbar">
      <div class="container">
        <div class="navbar-header">

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if error %}
             <div class="alert alert-danger">{{ error.message }}</div>
          {% endif %}

          <form class="navbar-form navbar-right" action="{{ path('login_check') }}" method="post">
            <div class="form-group">
              <input type="text" id="username" name="_username" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" id="password" name="_password" placeholder="Mot de passe" class="form-control">
            </div>
            <button type="submit" value="Connexion" class="btn btn-success">Connexion</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Debut du corps -->
      <div class="container" id="main">
        <div class="container">
          <div class="row">
            <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10 hidden-xs ">
            Bienvenue sur Festi'Vite !
            Êtes-vous à la recherche de  [...]
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus bibendum condimentum ultrices. Nulla in mi imperdiet, euismod lectus vel,
            feugiat mi. Nunc malesuada neque nisi, vitae varius leo ultricies non.
            Donec ac scelerisque enim. Pellentesque consequat risus at vulputate consectetur. Vestibulum a quam diam.
            </div>
          </div>
        </div>
        <section class="row container">
          <!-- Formulaire d'inscription-->
          <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
            {% if enreg is defined %}
              <p>{{ enreg }}</p>
            {% endif %}

            {{ form_start(form, {'attr': {'class': 'form-horizontal col-lg-12 col-md-12 col-sm-12 col-xs-12'}})}}

              <div class="form-group">
                <legend>Inscription</legend>
              </div>

              <div class="row">
                <div class="form-group">
                  {{ form_label(form.nom, "Nom : ", {'label_attr': {'class' : 'col-lg-3 control-label'}}) }}
                  {{ form_errors(form.nom) }}
                  <div class="col-lg-9">
                    {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'placeholder':'Nom...'}}) }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  {{ form_label(form.prenom, "Prénom : ", {'label_attr': {'class' : 'col-lg-3 control-label'}}) }}
                  {{ form_errors(form.prenom) }}
                  <div class="col-lg-9">
                    {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'placeholder':'Prénom...'}}) }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  {{ form_label(form.adresseMail, "Email : ", {'label_attr': {'class' : 'col-lg-3 control-label'}}) }}
                  {{ form_errors(form.adresseMail) }}
                  <div class="col-lg-9">
                    {{ form_widget(form.adresseMail, {'attr': {'class': 'form-control', 'placeholder':'xyz@mail.com'}}) }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  {{ form_label(form.password, "Mot De Passe : ", {'label_attr': {'class' : 'col-lg-3 control-label'}}) }}
                  {{ form_errors(form.password) }}
                  <div class="col-lg-9">
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder':'Mot De Passe...'}}) }}
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  {{ form_label(form.dateNaissance, "Date de naissance : ", {'label_attr': {'class' : 'col-lg-3 control-label'}}) }}
                  {{ form_errors(form.dateNaissance) }}
                  <div class="col-lg-9">
                    {{ form_widget(form.dateNaissance.day, {'attr': {'class': ' col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.dateNaissance.month, {'attr': {'class': ' col-sm-offset-1 col-sm-3 col-xs-12'}}) }}
                    {{ form_widget(form.dateNaissance.year, {'attr': {'class': ' col-sm-offset-1 col-sm-3 col-xs-12'}}) }}
                </div>
              </div>

              <div class="form-group">
                {{ form_widget(form.valider, {'attr': {'class': 'pull-right btn btn-success'}}) }}
              </div>
            {{ form_end(form)}}
        </div>
          </div>

          <!--Visite et demande-->
          <div class="col-lg-offset-2 col-lg-5 col-md-5 col-sm-6 col-xs-12" id="visitdemand">
            <div class="row">
              <div class="col-lg-offset-1 col-lg-10">
                <h1>
                  <a href="main"><span class="label label-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" id="labelacces">Simple visiteur</span></a>
                </h1>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-offset-1 col-lg-10">
                <h1>
                  <a href="#"><span class="label label-primary col-lg-12 col-md-12 col-sm-12 col-xs-12" id="labelacces">Demande prestataire</span></a>
                </h1>
              </div>
            </div>
          </div>
        </section>
        <div class="row" id="push"></div>
      </div>

      <footer id="footer">
        <div class="row">
          <img src="css/image/logo/logo150.png" alt="FestiVite" />
        </div>
        <div class="row">
          <h5>
            <p>&copy; 2016 Festivite, Inc.</p>
          </h5>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="css/bootstrap-3.3.7/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="css/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="css/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
