{% extends 'FestiViteBundle:Default:navfoot.html.twig' %}
{% block avnt %}
{% if offre is defined %}
  {{ dump(offre) }}
{% endif %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>FestiVite - Mon panier</title>

    <link href="css/bootstrap-3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/bootstrap-3.3.7/docs/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <script src="css/bootstrap-3.3.7/docs/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <link href="css/festivite.css" rel="stylesheet">
    <link href="css/festiviteform.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrap">
        <div id="cpabo"></div>
{% endblock %}
{% block apr %}
      <!-- Debut du corps -->
      <div class="container" id="main">

        <div class="row">
          <h1 class="titre1">Mon panier</h1>
        </div>
            <div class="backg">
                <!--block resultat-->
                {% if panier is defined %}
                  {% for key,value in panier %}
                    <div class="blockpresta">
                        <h3><a href="#">{{ value[0].getType() }}</a></h3>
                        <img class="imagepresta" src="css/image/FestiVite4.png" alt="imagepresta"/>
                        <p> <!--nombre de caractere affiché limité-->
                          {{ value[0].getDescription() }}
                        </p>
                        <p class="prix">{{ value[0].getPrix() }} €</p>

                        <form action="/panierclassique" method="post">
                          <input type="text" name="id" value="{% for keyPanier,valuePanier in panier %}{% if keyPanier == 0 %}{{valuePanier[0].getIdOffre()}}{% endif %}{% if keyPanier > 0 %}|{{valuePanier[0].getIdOffre()}}{% endif %}{% endfor %}" hidden />
                          <input type="text" name="supp" value="{{key}}" hidden />
                          <button type="submit" value="" class="glyphicon  glyphicon-remove-circle supprbtn"></button>
                        </form>
                    </div>
                  {% endfor %}
                {% endif %}
                <!--/block resultat-->

            </div>
            <div class="row">

              <form action="/ajoutprestataire" method="post">
                <input type="text" name="id" value="{% for keyPanier,valuePanier in panier %}{% if keyPanier == 0 %}{{valuePanier[0].getIdOffre()}}{% endif %}{% if keyPanier > 0 %}|{{valuePanier[0].getIdOffre()}}{% endif %}{% endfor %}" hidden />
                <button type="submit" value="" class="formbtn" id="etapePrecedente"><span class="glyphicon glyphicon-share-alt"></span>
                Retour à ma Fête</button>
              </form>
            </div>
        </div><!--/Corps-->
        <div id="push"></div>
    </div>
{% endblock %}



{% block script %}
    </div>




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="css/bootstrap-3.3.7/docs/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="css/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="css/bootstrap-3.3.7/docs/assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="css/js/creersoiree.js"></script>
    <script src="css/js/navbar.js"></script>
  </body>
</html>
{% endblock %}
